TrotTrax/bin/Debug/TrotTrax.vshost.exe.config
*.exe
TrotTrax.v12.suo
*.sln
*.config
*.cache
*.pdb
TrotTrax/TrotTrax.csproj
*.txt
TrotTrax/obj/Debug/TempPE/DataSet1.Designer.cs.dll
*.manifest
*.resources
*.settings
*.db
*.xml
TrotTrax/SQLite/System.Data.SQLite.dll
*.dll
*.application