/TrotTrax/Bin/*
/TrotTrax/obj/*
/TrotTrax/Properties/*

*.application
*.cache
*.config
*.csproj
*.db
*.dll
*.exe
*.manifest
*.pdb
*.pfx
*.resources
*.resx
*.settings
*.sln
*.suo
*.trax
*.txt
*.user
*.xml
